.container {
  width: 80%;
  margin: 0 auto;
  background-color: lightblue;
  text-align: center;
  padding: 60px;
  border-radius: 1em;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
    font-size: 1.25em;
  }
}
